body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate-color);
    background-color: var(--white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

:root {
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --slate-color: #434455;
    --cloud-color: #F4F4FD;
    --white-color: #FFFFFF;
    --accent-color: #E7E9FC;
    --light-slate: #8E8F99;
    --green-color: #31D0AA;
    --transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --dairy-color: #FCFCFC;
    --backdrop-color: rgba(46, 47, 66, 0.4);
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* ---------------Hader------------------- */

.header {
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    margin-right: 120px;
}

.header-logo {
    color: var(--navy-blue-color);
}

.header-list {
    display: none;
}

.address {
    display: none;
}

.menu-open-btn {
    padding: 24px 0;
    width: 32px;
    height: 22px;
    background-color: transparent;
    border: none;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-open-icon {
    stroke: var(--navy-blue-color);
    transition: fill var(--transition-timing-function);
}

.menu-open-icon:is(:hover, :focus) {
    stroke: var(--ocean-color);
}

.mob-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    padding: 80px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.menu-close {
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-timing-function),
        border var(--transition-timing-function);
    cursor: pointer;
}

.menu-close:is(:hover, :focus) {
    background-color: var(--ocean-color);
    border: transparent;
}

.menu-close-icon {
    fill: var(--navy-blue-color);
    transition: fill var(--transition-timing-function);
}

.menu-close:is(:hover, :focus) .menu-close-icon {
    fill: var(--white-color);
}

.menu-link-item {
    margin-bottom: 40px;
}

.menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
    transition: color var(--transition-timing-function);
}

.menu-link:is(:hover, :focus) {
    color: var(--ocean-color)
}

.menu-address {
    font-style: normal;
}

.menu-address-list {
    margin-bottom: 48px;
}

.menu-address-item:not(:last-child) {
    margin-bottom: 40px;
}

.menu-address-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--iris-color);
}

.menu-address-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

.menu-soc-list {
    display: flex;
    /* gap: 56px; */
    max-width: 328px;
    justify-content: space-between;
}

.menu-soc-item {
    width: 40px;
    height: 40px;
}

.menu-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-timing-function);
}

.menu-soc-link:is(:hover, :focus) {
    background-color: var(--ocean-color);
}

.menu-soc-icon {
    fill: var(--cloud-color);
}

/* ----------------Main------------------- */

.hero {
    height: 432px;
    max-width: 428px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 112px;
    padding-bottom: 112px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-mob-2x.jpg);
    }
}

.hero-title {
    max-width: 320px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-button {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--iris-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-timing-function);

}

.hero-button:is(:hover, :focus) {
    background-color: var(--ocean-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.our-advantages-section {
    padding: 96px 0;
}

.our-advantages-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.advantages-icon {
    display: none;
}

.advantages-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    text-align: center;
    margin-bottom: 8px;
}

.advantages-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

.what-we-doing-title {
    display: none;
}

.what-we-doing-list {
    display: none;
}


.team-section {
    background-color: var(--cloud-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-section>.container {
    max-width: 294px;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.team-member {
    background-color: var(--white-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-description {
    padding: 32px 16px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
    margin-bottom: 72px;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

.member {
    text-align: center;
    margin-bottom: 8px;
}

.member-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.member-soc-item {
    width: 40px;
    height: 40px;
}

.member-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-timing-function);
}

.member-soc-link:is(:hover, :focus) {
    background-color: var(--ocean-color);
}

.member-soc-icon {
    fill: var(--cloud-color);
}

.customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}

.customers-list-item {
    width: calc((100% - 16px)/2);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-slate);
    transition: border-color var(--transition-timing-function),
        color var(--transition-timing-function);
}

.customers-link:is(:hover, :focus) {
    border-color: var(--ocean-color);
    color: var(--ocean-color);
}

.customers-link:is(:hover, :focus) .customers-icon {
    fill: var(--ocean-color);
}

.customers-icon {
    fill: currentColor;
    transition: fill var(--transition-timing-function);
}

/* ---------------Main for Portfolio---------- */

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-filters-button-list {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.portfolio-filters-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background-color: var(--cloud-color);
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 12px 24px;
    transition: background-color var(--transition-timing-function),
        color var(--transition-timing-function),
        border-color var(--transition-timing-function),
        box-shadow var(--transition-timing-function);
}

.portfolio-filters-button:is(:hover, :focus) {
    background-color: var(--ocean-color);
    color: var(--white-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    flex-basis: calc((100% - 48px)/ 3);
}

.portfolio-link {
    display: block;
    transition: box-shadow var(--transition-timing-function);
}

.portfolio-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:is(:hover, :focus) .portfolio-cover-text {
    transform: translateY(0);
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    color: var(--cloud-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: var(--iris-color);
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition-timing-function);
}

.portfolio-card-description {
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

/* ---------------FOOTER-------------------- */

.footer {
    background-color: var(--navy-blue-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    /* margin: 0 auto; */
    justify-content: center;
}

.footer-logo-container {

    /* margin: 0 auto; */

    /* ???????????????? */
}

.footer-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: inline-block;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    margin-bottom: 16px;
}

.footer-logo {
    color: var(--cloud-color);
}

.footer-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
}


.footer-subtitle {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-timing-function);
}

.footer-soc-link:is(:hover, :focus) {
    background-color: var(--green-color);
}

.footer-soc-icon {
    fill: var(--cloud-color);
}

.footer-subscribe {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}

.footer-subscribe-field {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.footer-subscribe-input {
    width: 398px;
    height: 40px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
}

.footer-subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
}

.footer-subscribe-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-timing-function);
}

.footer-subscribe-button:is(:hover, :focus) {
    background-color: var(--ocean-color);
}

.footer-button-icon {
    margin-left: 16px;
    fill: var(--white-color);
}

/* ---------------MODAL-------------------- */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    top: 0;
    transition: opacity var(--transition-timing-function), visibility var(--transition-timing-function);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform var(--transition-timing-function);
    width: 408px;
    min-height: 584px;
    background-color: var(--dairy-color);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-top: 72px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-timing-function),
        border var(--transition-timing-function);
    cursor: pointer;
}

.modal-close:is(:hover, :focus) {
    background-color: var(--ocean-color);
    border: transparent;
}

.modal-close-icon {
    fill: var(--navy-blue-color);
    transition: fill var(--transition-timing-function);
}

.modal-close:is(:hover, :focus) .modal-close-icon {
    fill: var(--white-color);
}

.modal-tittle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.input-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--backdrop-color);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color var(--transition-timing-function);
}

.modal-input:focus {
    border-color: var(--iris-color);
}

.modal-input:focus+.input-icon {
    fill: var(--iris-color);
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--navy-blue-color);
    transition: fill var(--transition-timing-function);
}

.comment-field {
    margin-bottom: 16px;
}

.modal-comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--backdrop-color);
    border: 1px solid var(--backdrop-color);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    background-color: transparent;
    transition: border-color var(--transition-timing-function)
}

.modal-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: var(--backdrop-color);
}

.modal-comment:focus {
    border-color: var(--iris-color);
}

.check-field {
    margin-bottom: 24px;
}

.check-text {
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.check-text span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid var(--backdrop-color);
    border-radius: 2px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color var(--transition-timing-function), border var(--transition-timing-function), fill var(--transition-timing-function);
    cursor: pointer;
}

.modal-check:checked+.check-text span {
    background-color: var(--ocean-color);
    border: transparent;
    fill: var(--cloud-color);
}

.modal-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    min-width: 169px;
    height: 56px;
    background-color: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color var(--transition-timing-function);
}

.modal-button:is(:hover, :focus) {
    background-color: var(--ocean-color);
}

.modal-privacy-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--iris-color);
}